/* NAVIGATION */
.navbar {
  padding: 1.2rem 0;
}

.navbar-logo {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
}

.navbar-burger span {
  font-size: 20px;
  height: 3px;
  color: black;
}

.navbar-link-style {
  color: black;
  font-family: "Montserrat", sans-serif;
}

a.navbar-item:hover {
  color: black;
  background: white;
}

.navbar-burger:hover {
  background: white;
}

.navbar-menu .navbar-item:hover {
  color: #059552;
}

/* HERO SECTION */

.devices-illustration {
  width: 998px;
  margin: auto;
}
