.navbar-logo {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
}

.navbar-burger span {
  font-size: 20px;
  height: 3px;
  color: black;
}

.navbar-link-style {
  font-family: "Montserrat", sans-serif;
  color: black;
}
